/* Add this CSS file to each page for a consistent look*/
/* Add @Import for personal font */

body{
    font-family: 'TODO: FONT NAME', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--md-sys-color-background);
}

body p{
    color: var(--md-sys-color-on-background);
}

a{
    text-decoration: none;
    color: var(--md-sys-color-on-background);
}

#header{
    display: flex;
    justify-content:space-between;
    background-color: var(--md-sys-color-secondary-container);
    padding: 5px 25px 5px 25px;
    height: 50px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
}

#logo{
    display: flex;
    padding: auto;
}

#logo_image{
    width: 45px;
    height: 45px;
    margin: auto;
    padding-top: 4px;
}

#logo h1{
    margin: auto;
    color: var(--md-sys-color-on-secondary-container);
    padding-left: 10px;
    padding-top: 5px;
}

/* Navigation bar in Header */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav ul li{
    float: left;
    padding: 0 2px 0 2px;
}

nav ul li a {
  display: block;
  color: var(--md-sys-color-on-secondary-container);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  border-radius: 50px;
  border: 1px solid gray;
  transition: background-color 0.3s, color 0.3s;
}

.selected{
  background-color: var(--md-sys-color-primary);
  opacity: 0.75;
  color: var(--md-sys-color-on-primary);
  transition: opacity 0.3s;
}

nav ul li a:hover {
  display: flex;
  background-color: var(--md-sys-color-primary);
  opacity: 1;
  color: var(--md-sys-color-on-primary);
  text-align: center;
  text-decoration: none;
  margin: auto;

}

/* Main content on the page */

main{
    padding-top: 75px;
    padding-bottom: 15px;
    margin: 0 15% 5px 15%;
    min-height: 85vh;
}

/* This is a pre-made footer, it is a landscape format*/
footer{
    font-size: 10px;
    font-weight:lighter;
    display: flex;
    margin: auto;
    padding: 5px 15px;
    justify-content:space-between;
    background-color: var(--md-sys-color-inverse-surface);
}

footer p{
    color: #FFF9EC;
}

footer ul{
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 0;
}

footer ul li{
    float: left
}

.social_img{
    height: 15px;
    width: 15px;
    padding: 0 5px;
}

/* Add Matirial Design .light here: */