/* Add this CSS file to each page for a consistent look*/
/* Add @Import for personal font */
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');

body{
    font-family: 'Bitcount Grid Single', sans-serif;
    padding: 0;
    margin: 0;
    background-color: var(--md-sys-color-background);
}

body p{
    color: var(--md-sys-color-on-background);
}

h2, h3, h4, h5, h6{
    font-weight: 300;
}

a{
    text-decoration: none;
    color: var(--md-sys-color-on-background);
}

#header{
    display: flex;
    justify-content:space-between;
    background-color: var(--md-sys-color-secondary-container);
    padding: 5px 25px 5px 25px;
    height: 50px;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 0px 10px rgba(100, 100, 100, 0.5);
}

#logo{
    display: flex;
    padding: auto;
}

#logo_image{
    width: 45px;
    height: 45px;
    margin: auto;
    padding-top: 4px;
}

#logo h1{
    margin: auto;
    font-weight: 400;
    color: var(--md-sys-color-on-secondary-container);
    padding-left: 10px;
    padding-top: 5px;
}

/* Navigation bar in Header */
nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


nav ul li{
    float: left;
    padding: 0 2px 0 2px;
}

nav ul li a {
  display: block;
  color: var(--md-sys-color-on-secondary-container);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: auto;
  border-radius: 50px;
  border: 1px solid gray;
  transition: background-color 0.3s, color 0.3s;
}

.selected{
  background-color: var(--md-sys-color-primary);
  opacity: 0.75;
  color: var(--md-sys-color-on-primary);
  transition: opacity 0.3s;
}

nav ul li a:hover {
  display: flex;
  background-color: var(--md-sys-color-primary);
  opacity: 1;
  color: var(--md-sys-color-on-primary);
  text-align: center;
  text-decoration: none;
  margin: auto;

}

/* Main content on the page */

main{
    padding-top: 75px;
    padding-bottom: 15px;
    margin: 0 15% 5px 15%;
    min-height: calc(100vh - 137px)
}

.button{
    color: var(--md-sys-color-on-secondary-container);
    width: fit-content;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
}

.button:hover{
    color: var(--md-sys-color-on-secondary);
    background-color: var(--md-sys-color-secondary);
    width: fit-content;
    padding: 14px 16px;
    text-decoration: none;
    margin: auto;
    margin-top: 20px;
    border-radius: 50px;
    border: 1px solid gray;
    transition: background-color 0.3s, color 0.3s;
}

.button:active{
    background-color: var(--md-sys-color-primary);
}

/* This is a pre-made footer, it is a landscape format*/
footer{
    font-size: 10px;
    font-weight:lighter;
    display: flex;
    margin: auto;
    padding: 5px 15px;
    justify-content:space-between;
    background-color: var(--md-sys-color-inverse-surface);
}

footer p{
    color: #FFF9EC;
}

footer ul{
    list-style-type: none;
    display: flex;
    margin: auto;
    padding: 0;
}

footer ul li{
    float: left
}

.social_img{
    height: 15px;
    width: 15px;
    padding: 0 5px;
}

/* Add Matirial Design .light here: */
.light {
  --md-sys-color-primary: rgb(102 85 142);
  --md-sys-color-surface-tint: rgb(102 85 142);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(233 221 255);
  --md-sys-color-on-primary-container: rgb(77 61 117);
  --md-sys-color-secondary: rgb(98 91 112);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(232 222 248);
  --md-sys-color-on-secondary-container: rgb(74 68 88);
  --md-sys-color-tertiary: rgb(126 82 95);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 217 226);
  --md-sys-color-on-tertiary-container: rgb(99 59 72);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(254 247 255);
  --md-sys-color-on-background: rgb(29 27 32);
  --md-sys-color-surface: rgb(254 247 255);
  --md-sys-color-on-surface: rgb(29 27 32);
  --md-sys-color-surface-variant: rgb(231 224 235);
  --md-sys-color-on-surface-variant: rgb(73 69 78);
  --md-sys-color-outline: rgb(122 117 127);
  --md-sys-color-outline-variant: rgb(202 196 207);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(50 47 53);
  --md-sys-color-inverse-on-surface: rgb(245 239 247);
  --md-sys-color-inverse-primary: rgb(208 188 254);
  --md-sys-color-primary-fixed: rgb(233 221 255);
  --md-sys-color-on-primary-fixed: rgb(33 15 71);
  --md-sys-color-primary-fixed-dim: rgb(208 188 254);
  --md-sys-color-on-primary-fixed-variant: rgb(77 61 117);
  --md-sys-color-secondary-fixed: rgb(232 222 248);
  --md-sys-color-on-secondary-fixed: rgb(30 25 43);
  --md-sys-color-secondary-fixed-dim: rgb(204 194 219);
  --md-sys-color-on-secondary-fixed-variant: rgb(74 68 88);
  --md-sys-color-tertiary-fixed: rgb(255 217 226);
  --md-sys-color-on-tertiary-fixed: rgb(49 16 28);
  --md-sys-color-tertiary-fixed-dim: rgb(240 184 199);
  --md-sys-color-on-tertiary-fixed-variant: rgb(99 59 72);
  --md-sys-color-surface-dim: rgb(222 216 224);
  --md-sys-color-surface-bright: rgb(254 247 255);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(248 242 250);
  --md-sys-color-surface-container: rgb(242 236 244);
  --md-sys-color-surface-container-high: rgb(236 230 238);
  --md-sys-color-surface-container-highest: rgb(230 224 233);
}